/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
*.sqlite*
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Large asset & uploaded files
public/assets/bg.jpg
public/assets/image.png
public/assets/SPLASH SUKUR.png
public/bg.jpg
public/image.png
public/splash-sukur.png
public/assets/nota/
public/assets/png/
public/assets/svg/
public/assets/vendor/fonts/
resources/views/*.png
resources/views/*.jpg
resources/views/splash-sukur.png
storage/app/public/
