@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
html {
    visibility: hidden;  
}

html[data-theme] {
    visibility: visible;
    transition: visibility 0.1s ease-in 0.3s;
}
@import "tailwindcss";
@source "../views";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: #0C9044;
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(87% 0.15 154.449);
    --color-secondary-content: oklch(39% 0.095 152.535);
    --color-accent: oklch(91% 0.08 205.041);
    --color-accent-content: oklch(0% 0 0);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(0% 0 0);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(100% 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
  }

@plugin "daisyui/theme" {
    name: "posdark";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(13.5% 0.01 255);
    --color-base-200: oklch(16% 0.01 255);
    --color-base-300: oklch(19% 0.01 255);
    --color-base-content: oklch(90% 0.01 255);
    --color-primary: #0C9044;
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(45% 0.12 154);
    --color-secondary-content: oklch(90% 0.05 152);
    --color-accent: oklch(40% 0.06 205);
    --color-accent-content: oklch(95% 0 0);
    --color-neutral: oklch(86% 0.005 285);
    --color-neutral-content: oklch(14% 0 0);
    --color-info: oklch(74% 0.16 232);
    --color-info-content: oklch(20% 0.03 243);
    --color-success: oklch(72% 0.19 152);
    --color-success-content: oklch(15% 0 0);
    --color-warning: oklch(80% 0.18 92);
    --color-warning-content: oklch(15% 0 0);
    --color-error: oklch(63% 0.237 25);
    --color-error-content: oklch(100% 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
  }
